@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0;
}

main {
  /* margin: 5px; */
  /* position: relative; */
}
/* BACKGROUND FOR PAGES */

.home-page {
  background-image: url(../../public/images/homepage-background.png);
  height: 685px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.profile-page {
  background-image: url(../../public/images/profile-background.png);
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.createplaylist-page {
  background-image: url(../../public/images/createplaylist-background.png);
  height: 685px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.viewplaylist-page {
  background-image: url(../../public/images/viewplaylist-background.png);
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.settings-page {
  background-image: url(../../public/images/settings-background.png);
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

/* DIV ITEMS */
input, textarea {
  border: 1px solid #ababab;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}

button, .login-button {
  background-color: #2b7bbe;
  color: #fff;
  border: 2px solid #2b7bbe;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.login-button, button:hover {
  background-color: #71b5ed;
}

.page-container {
  display: flex;
}

/* NAV ITEMS */
/* nav {
  margin-right: 32px;
  padding-right: 32px;
  background-color: black;
}

nav .active {
  background-color: #f3d8ed;
} */

.nav-container {
  background-color: black;
  margin: none;
  height: 100px;
  display: flex;
  /* position: relative; */
  font-family: 'Josefin Sans', cursive;
}

.navItem {
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

.navItem:hover {
  color: #AD3535;
}

.navTitle {
  font-size: 50px;
  padding: 25px;
  font-weight:900;
}

.navElements {
  font-size: 40px;
  font-weight:700;
  padding: 30px;
  padding-left: 60px;
}

.active {
  color: #AD3535;
}

/* HOME PAGE CSS */
/* DESIGN HOME */
.josefin-sans-small-header {
  font-weight: 500;
  font-family: 'Josefin Sans', cursive;
  font-size: 50px;
}

.josefin-sans-small-text {
  font-weight: 400;
  font-family: 'Josefin Sans', cursive;
  font-size: 40px;
}
.josefin-sans-small-text-button {
  font-weight: 400;
  font-family: 'Josefin Sans', cursive;
  font-size: 25px;
}

.underline {
  text-decoration: underline;
}

.shadows-into-font {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.arrow-graphic {
  width: 160px;
  height: 70px;
  background-image: url(../../images/white-chalk-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.left-arrow {
  position: absolute;
  left: 27.5%;
  bottom: 7%;
  transform: rotate(25deg);
}

.click-here-text {
  position: absolute;
  width: auto;
  margin: 0px;
  padding: 0px;
  left: 9%;
  top: 65%;
  font-size: 70px;
  transform: rotate(-8deg);
}

/* HOME COMPONENTS */
.home-info-container {
  position: absolute;
  /* text-align: center; */
  width: 1200px;
  height: 625px;
  border: 4px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
  left: 10%;
  top: 21%;
  padding-left: 30px;
}

.create-playlist-home-button-container {
  position: fixed;
  text-align: center;
  bottom: 4%;
  left: 40%;
  margin: auto;
  width: 300px;
  background-color: #F19F7C;
  padding: 25px;
  border: 5px solid black;
  border-radius: 100px;
}

.create-playlist-home-button {
  text-decoration: none;
  color: white;
}


/* CREATE PLAYLIST */
.create-playlist-container {
  position: absolute;
  /* text-align: center; */
  width: 1200px;
  height: 625px;
  border: 4px solid rgb(255, 154, 154);
  border-radius: 50px;
  background-color: #f7b5b5;
  color: white;
  left: 10%;
  top: 21%;
  padding-left: 30px;
}

.genre-list {
  width: 1400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 7%;
  padding-top: 40px;
}

span {
  font-size: 50px;
  padding: 50px;
}

.genre-item {
  /* text-align: center; */
  padding: 5px;
  padding-top: 30px;
  width: 350px;
  font-size: 40px;
  display: flex;
}


.genre-checkbox {
  width: 70px;
  height: 70px;
  background-color: black;
}

.genre-checkbox:hover {
  cursor: pointer;
  background-color: #71b5ed;
}